//-------------------------------------------------------------------------
//Colores de PAGINA PRINCIPALES
//------------------------------------------------------------------------
$primary_color: #fff;
$secundary_color: #18395a;
//-------------------------------------------------------------------------
//tipografia de pagina 3 tipos: TITULOS, SUBTITULOS, TEXTO 1, TEXTO 2, TEXTO 3
//------------------------------------------------------------------------

//-------------------------------------------------------------------------
//bordes de pagina
//------------------------------------------------------------------------
$border_primary: solid #75787c 1px;
